.navbarTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #DFF2E9;
  padding: 1.5vh 4vw;
  flex-wrap: wrap;
}

.searcher {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #ccc;
  max-width: 200px;
  width: 100%;
  height: 36px;
  padding: 2px 1.5rem 2px 8px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.searcherImput {
  flex: 1;
  border: none;
  outline: none;
  padding: 6px;
  font-size: 13px;
  color: #333;
  background: transparent;
  width: 100%;
}

.searcherImput::placeholder {
  color: #aaa;
  font-size: 12px;
}

.searchButton {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  position: absolute;
  right: 8px;
}

.searchButton i {
  font-size: 14px;
  color: #00444E;
}

.searchButton:hover {
  transform: scale(1.1);
  color: #007bff;
}

#navbarScroll {
  font-weight: 800;
  background-color: #DFF2E9;
}

.linkButtom:hover {
  background-color: #F1F381;
  color: #00444E;
  border-radius: 10px;
}

.userButtoms {
  display: flex;
  gap: 1.5vh;
}

.button1 {
  background-color: #eef07a;
  border-radius: 10px;
  border: none;
  color: #00444E;
  font-weight: 800;
  padding: 6px 12px;
  font-size: 15px;
  width: fit-content;
}

.button1:hover {
  background-color: #00444E;
  color: #eef07a;
  border-radius: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.buttonCart {
  background-color: #eef07a;
  border-radius: 5px;
  border: none;
  color: #00444E;
  font-weight: 600;
  padding: 6px 12px;
  font-size: 13px;
}

.buttonCart:hover {
  background-color: #00444E;
  color: #eef07a;
}

@media (max-width: 768px) {
  .navbarTop {
    flex-direction: row;
    align-items: center;
    padding: 1.5vh;
  }

  .searcher {
    max-width: 160px;
  }

  .searcherImput {
    font-size: 11px;
  }

  .searchButton i {
    font-size: 11px;
  }

  .button1 {
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .searcher {
    max-width: 140px;
  }

  .searcherImput {
    font-size: 10px;
  }

  .searchButton i {
    font-size: 10px;
  }

  /* .buttonCart {
    font-size: 11px;
    padding: 5px;
  } */

  .button1 {
    margin-bottom: 1rem;
  }
}